header {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 80px;
  width: 100vw;

  .logo {
    height: 50px;
    width: 207px;
    margin: 15px 15px;
  }
}

.wrap {
  height: 100%;
  width: 100%;
}

.bg {
  height: 100vh;
  width: 100vw;
  background: #2CDBB2;
  position: fixed;

  .line-wave {
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100vw;
    background: #555;
    border-top: 1px solid #555;
  }
}

.hamburger-menu {
  height: 100vh;
  width: 30px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__line {
    display: block;
    border: 1px solid #F4EA00;
    width: 15px;
    margin: 5px auto;

    &.is-active {
      &:nth-child(1) {
        animation: firstHamburgerLineIsActive 0.4s ease forwards;
      }

      &:nth-child(2) {
        animation: secondHamburgerLineIsActive 0.4s ease forwards;
      }

      &:nth-child(3) {
        animation: thirdHamburgerLineIsActive 0.4s ease forwards;
      }
    }

    &.is-disabled {
      &:nth-child(1) {
        animation: firstHamburgerLineIsDisabled 0.4s ease forwards;
      }

      &:nth-child(2) {
        animation: secondHamburgerLineIsDisabled 0.4s ease forwards;
      }

      &:nth-child(3) {
        animation: thirdHamburgerLineIsDisabled 0.4s ease forwards;
      }
    }
  }
}

.menu {
  position: fixed;
  right: 0;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100vw);
  background: #2CDBB2;

  &.is-active {
    animation: openMenu 0.4s ease forwards;
  }

  &.is-disabled {
    animation: closeMenu 0.4s ease forwards;
  }

  &__inner {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 175px;
  }

  &__item {
    display: flex;
    height: 30px;
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.fv {
  height: 100vh;
  width: 100vw;
  position: relative;
}

// keyframes
@keyframes openMenu {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes closeMenu {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

// ハンバーガーメニュー isActive
@keyframes firstHamburgerLineIsActive {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@keyframes secondHamburgerLineIsActive {
  100% {
    opacity: 0;
  }
}

@keyframes thirdHamburgerLineIsActive {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}
// ハンバーガーメニュー isActive end

// ハンバーガーメニュー isDisabled
@keyframes firstHamburgerLineIsDisabled {
  0% {
    transform: translateY(7px) rotate(45deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes secondHamburgerLineIsDisabled {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes thirdHamburgerLineIsDisabled {
  0% {
    transform: translateY(-7px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}
// ハンバーガーメニュー isDisabled end

// keyframes end